In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
os.chdir("/home/573/rh2942/WASSA-2023-EMP") # changing dir for evaluation file

In [3]:
essay_train = pd.read_csv('./dataset/WASSA23_essay_level_with_labels_train.tsv', sep='\t', na_values='unknown', header=0) # raw csv file consists of 'unknown' values
essay_train.dropna(inplace=True)
essay_dev = pd.read_csv('./dataset/dev/WASSA23_essay_level_dev.tsv', sep='\t', header=0)
goldstandard_dev = pd.read_csv('./dataset/dev/goldstandard_dev.tsv', sep='\t', header=None) # no header

In [4]:
essay_train.columns

Index(['conversation_id', 'article_id', 'essay', 'empathy', 'distress',
       'speaker_id', 'gender', 'education', 'race', 'age', 'income',
       'personality_conscientiousness', 'personality_openess',
       'personality_extraversion', 'personality_agreeableness',
       'personality_stability', 'iri_perspective_taking',
       'iri_personal_distress', 'iri_fantasy', 'iri_empathatic_concern',
       'speaker_number', 'split', 'essay_id', 'emotion'],
      dtype='object')

In [5]:
goldstandard_dev.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [6]:
# just an educated guess as the header is not provided
goldstandard_dev = goldstandard_dev.rename(columns={0:'empathy',
                                                    1:'distress',
                                                    2:'emotion',
                                                    3: 'personality_conscientiousness',
                                                    4: 'personality_openess',
                                                    5: 'personality_extraversion',
                                                    6: 'personality_agreeableness',
                                                    7: 'personality_stability',
                                                    8: 'iri_perspective_taking',
                                                    9: 'iri_personal_distress', 
                                                    10: 'iri_fantasy', 
                                                    11: 'iri_empathatic_concern'})

In [7]:
essay_dev_complete = pd.concat([essay_dev, goldstandard_dev], axis=1)

In [8]:
essay_dev_complete.columns

Index(['conversation_id', 'article_id', 'essay', 'speaker_id', 'gender',
       'education', 'race', 'age', 'income', 'speaker_number', 'split',
       'essay_id', 'empathy', 'distress', 'emotion',
       'personality_conscientiousness', 'personality_openess',
       'personality_extraversion', 'personality_agreeableness',
       'personality_stability', 'iri_perspective_taking',
       'iri_personal_distress', 'iri_fantasy', 'iri_empathatic_concern'],
      dtype='object')

In [9]:
essay_train = essay_train[list(essay_dev_complete)] #only keeping columns exist on dev set

In [10]:
essay_train.sample(2)

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,...,emotion,personality_conscientiousness,personality_openess,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern
672,353,116,Hey A: Did you read the article on cholera in...,8,2.0,6.0,1.0,62.0,29000.0,2,...,Anger/Neutral,6.5,2.5,1.0,6.5,2.0,3.571,4.000,2.143,4.429
547,207,201,I'm so tired of all this violence. If a cop sh...,44,2.0,6.0,1.0,46.0,22000.0,2,...,Anger,6.5,5.5,2.5,5.0,5.0,3.286,2.286,4.857,4.714

In [12]:
essay_dev_complete.sample(2)

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,...,emotion,personality_conscientiousness,personality_openess,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern
46,164,375,We as a whole community of human beings must c...,71,1,6,2,32,35000,1,...,Anger,5.5,5.0,2.0,5.5,4.5,3.429,2.857,2.857,2.714
173,310,48,I continue to read these stories and they alwa...,84,2,4,1,25,55000,2,...,Hope/Neutral,5.5,5.5,3.5,4.5,4.0,3.571,2.857,3.571,3.143

In [12]:
essay_train_dev = pd.concat([essay_train, essay_dev_complete], axis=0, ignore_index=True)

In [13]:
essay_train_dev

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,...,emotion,personality_conscientiousness,personality_openess,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern
0,2,35,It breaks my heart to see people living in tho...,30,1.0,6.0,3.0,37.0,40000.0,1,...,Hope/Sadness,7.00,5.50,1.00,6.50,6.0,4.857,2.0000,3.429,5.000
1,3,35,I wonder why there aren't more people trying t...,19,1.0,6.0,2.0,32.0,35000.0,1,...,Anger,5.50,5.00,2.00,5.50,4.5,3.429,2.8570,2.857,2.714
2,5,35,"After reading the article, you can't help but ...",17,1.0,6.0,1.0,29.0,85000.0,1,...,Sadness,6.75,6.75,6.75,6.75,7.0,4.643,2.0715,4.143,4.643
3,6,213,It is so sad that someone who had such an amaz...,16,2.0,5.0,1.0,28.0,50000.0,1,...,Sadness,6.00,6.00,5.00,4.50,3.5,5.000,4.1430,4.857,5.000
4,8,213,"From reading the article, it looks like the wo...",30,1.0,6.0,3.0,37.0,40000.0,1,...,Neutral,7.00,5.50,1.00,6.50,6.0,4.857,2.0000,3.429,5.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,471,297,"After reading the article, you can't help but ...",70,1.0,6.0,1.0,29.0,85000.0,2,...,Fear/Sadness,6.75,6.75,6.75,6.75,7.0,4.643,2.0715,4.143,4.643
983,478,53,I am definiltly guilty of wasting food. I buy ...,68,2.0,2.0,1.0,21.0,20000.0,2,...,Sadness,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286
984,484,292,I wish this article had given us more info. We...,68,2.0,2.0,1.0,21.0,20000.0,2,...,Neutral,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286
985,494,218,This story is really horrifying to me. Knowing...,96,2.0,3.0,1.0,27.0,25000.0,2,...,Fear,6.00,6.00,6.00,6.00,6.0,4.000,2.2860,3.571,3.714
986,497,103,An option for this very well may be that the m...,68,2.0,2.0,1.0,21.0,20000.0,2,...,Anger,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286

In [14]:
essay_train_dev.to_csv("./processed_data/essay_article_id_train_dev.csv")

In [13]:
essay_dev_complete.to_csv("./processed_data/essay_dev_complete.csv")

# Extra

## Check by combining with WS 2022

In [14]:
train_WS22 = pd.read_csv("./dataset/WASSA2022/messages_train_ready_for_WS.tsv", sep='\t', header=0)
train_WS22.sample(5)

,message_id,response_id,article_id,empathy,distress,empathy_bin,distress_bin,essay,emotion,gender,...,income,personality_conscientiousness,personality_openess,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern
858,R_1LNJZAfnVTV5mcq_4,R_1LNJZAfnVTV5mcq,318,5.667,3.000,1,0,I just read the most disturbing article about ...,sadness,1,...,48000,6.5,7.0,6.0,6.0,6.0,4.143,2.143,4.000,4.429
460,R_1CqdA4U3fMaXDFV_1,R_1CqdA4U3fMaXDFV,69,1.667,6.125,0,1,I just read the article and I am so surprised ...,sadness,2,...,49000,7.0,6.5,5.5,6.0,6.5,4.714,3.000,5.000,4.429
759,R_3RxS7cf9gInidpl_5,R_3RxS7cf9gInidpl,375,4.000,4.000,1,1,"Hey Jax, I thought this was a interesting arti...",neutral,2,...,25000,5.5,7.0,5.5,4.0,5.5,3.857,3.286,3.000,4.000
286,R_3lEy7CLfIzh1GHd_2,R_3lEy7CLfIzh1GHd,126,1.000,1.625,0,0,While I obviously think that it is sad that an...,sadness,2,...,62000,7.0,4.0,1.0,2.0,4.5,2.571,1.143,2.143,1.000
1632,R_3I6LTmaYNJeAYmf_3,R_3I6LTmaYNJeAYmf,205,1.000,1.000,0,0,So one of Mariah Carey backup dancers got fire...,neutral,2,...,50000,4.5,5.0,5.5,5.5,3.5,3.714,2.714,3.571,3.143

In [15]:
# dev_WS22 = pd.read_csv("./dataset/WASSA2022/messages_dev_features_ready_for_WS_2022.tsv", sep='\t', header=0)
# dev_WS22.sample(5)

In [16]:
# test_WS22 = pd.read_csv("./dataset/WASSA2022/messages_test_features_ready_for_WS_2022.tsv", sep='\t', header=0)
# test_WS22.sample(5)

In [20]:
dev_WS22.columns

Index(['message_id', 'response_id', 'article_id', 'essay', 'gender',
       'education', 'race', 'age', 'income', 'raw_input_emotions', 'empathy',
       'distress', 'emotion'],
      dtype='object')

In [17]:
essay_train_dev_WS23_to_merge = essay_train_dev.drop(columns = ['conversation_id', 'speaker_id', 'speaker_number', 'split', 'essay_id']) #dropping columns doesn't exist on 2023 dataset

In [18]:
train_WS22_to_merge = train_WS22[list(essay_train_dev_WS23_to_merge)] #only keeping columns exist on 2023 set]

In [19]:
train_WS22_to_merge["gender"].unique()

array([1, 2, 5])

In [20]:
train_dev_WS23_train_WS22 = pd.concat([essay_train_dev_WS23_to_merge, train_WS22_to_merge], axis=0, ignore_index=True)

In [21]:
train_dev_WS23_train_WS22.to_csv("./processed_data/train_dev_WS23_train_WS22.csv")

## OLD - only empathy and distress

In [19]:
dev_set_columns = list(essay_level_dev.columns)

In [20]:
dev_set_columns

['conversation_id',
 'article_id',
 'essay',
 'speaker_id',
 'gender',
 'education',
 'race',
 'age',
 'income',
 'speaker_number',
 'split',
 'essay_id']

In [21]:
dev_set_columns.remove('split') #split column is not required as it is just "train"

In [22]:
other_columns = ['empathy', 'distress']

In [23]:
columns_to_take = dev_set_columns + other_columns

In [24]:
columns_to_take

['conversation_id',
 'article_id',
 'essay',
 'speaker_id',
 'gender',
 'education',
 'race',
 'age',
 'income',
 'speaker_number',
 'essay_id',
 'empathy',
 'distress']

In [25]:
essay_article_texts = essay_empathy_raw[columns_to_take]  #retaining columns only exists in the dev set
essay_level_empathy_dev = essay_level_empathy_dev[columns_to_take]

In [26]:
essay_article_texts

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,essay_id,empathy,distress
0,2,35,It breaks my heart to see people living in tho...,30,1.0,6.0,3.0,37.0,40000.0,1,1,6.833333,6.625
1,3,35,I wonder why there aren't more people trying t...,19,1.0,6.0,2.0,32.0,35000.0,1,2,5.833333,6.000
2,5,35,"After reading the article, you can't help but ...",17,1.0,6.0,1.0,29.0,85000.0,1,4,1.000000,1.375
3,6,213,It is so sad that someone who had such an amaz...,16,2.0,5.0,1.0,28.0,50000.0,1,5,6.166667,6.625
4,8,213,"From reading the article, it looks like the wo...",30,1.0,6.0,3.0,37.0,40000.0,1,7,6.833333,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,495,218,I feel that this will become a national proble...,30,1.0,6.0,3.0,37.0,40000.0,2,994,6.500000,6.750
788,496,103,The whole situation is sketchy. The wavering r...,16,2.0,5.0,1.0,28.0,50000.0,2,995,3.166667,6.375
789,498,103,The death of a former aide to Russian Presiden...,43,2.0,6.0,1.0,33.0,110000.0,2,997,6.000000,2.000
790,499,103,Everything about Russia really freaks me out. ...,53,2.0,3.0,1.0,27.0,25000.0,2,998,6.000000,6.000
791,500,103,Whenever Russia and Putin are involved I do n...,30,1.0,6.0,3.0,37.0,40000.0,2,999,1.500000,4.875

In [27]:
essay_level_empathy_dev

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,essay_id,empathy,distress
0,1,35,How sad is it that this kind of pain and suffe...,68,2,2,1,21,20000,1,0,3.833333,3.375
1,4,35,The article is kind of tragic and hits close t...,79,1,6,3,33,64000,1,3,3.000000,1.000
2,7,213,"I think that these kinds of stories, are sad, ...",68,2,2,1,21,20000,1,6,3.833333,4.250
3,9,213,It's crazy that random accidents like this hap...,84,2,4,1,25,55000,1,8,3.166667,2.375
4,12,78,This story makes me so so sad.... As someone w...,68,2,2,1,21,20000,1,11,3.333333,3.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,471,297,"After reading the article, you can't help but ...",70,1,6,1,29,85000,2,970,1.000000,1.875
204,478,53,I am definiltly guilty of wasting food. I buy ...,68,2,2,1,21,20000,2,977,3.500000,3.625
205,484,292,I wish this article had given us more info. We...,68,2,2,1,21,20000,2,983,4.000000,4.375
206,494,218,This story is really horrifying to me. Knowing...,96,2,3,1,27,25000,2,993,6.000000,6.000
207,497,103,An option for this very well may be that the m...,68,2,2,1,21,20000,2,996,4.000000,3.625

In [ ]:
essay_train_dev = pd.concat([essay_article_texts, essay_level_empathy_dev], axis=0, ignore_index=True)

In [19]:
essay_train_dev

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,essay_id,empathy,distress
0,2,35,It breaks my heart to see people living in tho...,30,1.0,6.0,3.0,37.0,40000.0,1,1,6.833333,6.625
1,3,35,I wonder why there aren't more people trying t...,19,1.0,6.0,2.0,32.0,35000.0,1,2,5.833333,6.000
2,5,35,"After reading the article, you can't help but ...",17,1.0,6.0,1.0,29.0,85000.0,1,4,1.000000,1.375
3,6,213,It is so sad that someone who had such an amaz...,16,2.0,5.0,1.0,28.0,50000.0,1,5,6.166667,6.625
4,8,213,"From reading the article, it looks like the wo...",30,1.0,6.0,3.0,37.0,40000.0,1,7,6.833333,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,471,297,"After reading the article, you can't help but ...",70,1.0,6.0,1.0,29.0,85000.0,2,970,1.000000,1.875
983,478,53,I am definiltly guilty of wasting food. I buy ...,68,2.0,2.0,1.0,21.0,20000.0,2,977,3.500000,3.625
984,484,292,I wish this article had given us more info. We...,68,2.0,2.0,1.0,21.0,20000.0,2,983,4.000000,4.375
985,494,218,This story is really horrifying to me. Knowing...,96,2.0,3.0,1.0,27.0,25000.0,2,993,6.000000,6.000
986,497,103,An option for this very well may be that the m...,68,2.0,2.0,1.0,21.0,20000.0,2,996,4.000000,3.625

In [72]:
essay_train_dev.to_csv("./essay_article_id_train_dev.csv")