In [1]:
import pandas as pd
import numpy as np

In [87]:
essay_empathy_raw = pd.read_csv('./dataset/WASSA23_essay_level_with_labels_train.tsv', sep='\t', na_values='unknown', header=0) # raw csv file consists of 'unknown' values
article_raw = pd.read_csv('./dataset/articles_adobe_AMT.csv', header=0, index_col=0)
essay_level_dev = pd.read_csv('./dataset/dev/WASSA23_essay_level_dev.tsv', sep='\t', header=0, index_col=0)

In [88]:
essay_empathy_raw.dropna(inplace=True)

In [89]:
essay_empathy_raw

,conversation_id,article_id,essay,empathy,distress,speaker_id,gender,education,race,age,...,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,speaker_number,split,essay_id,idx,emotion
0,2,35,It breaks my heart to see people living in tho...,6.714286,6.714286,30,1.0,6.0,3.0,37.0,...,6.0,4.857,2.0000,3.429,5.000,1,train,1,35_2_person1_1,Hope/Sadness
1,3,35,I wonder why there aren't more people trying t...,5.857143,6.000000,19,1.0,6.0,2.0,32.0,...,4.5,3.429,2.8570,2.857,2.714,1,train,2,35_3_person1_2,Anger
2,5,35,"After reading the article, you can't help but ...",1.000000,1.428571,17,1.0,6.0,1.0,29.0,...,7.0,4.643,2.0715,4.143,4.643,1,train,4,35_5_person1_4,Sadness
3,6,213,It is so sad that someone who had such an amaz...,6.000000,6.857143,16,2.0,5.0,1.0,28.0,...,3.5,5.000,4.1430,4.857,5.000,1,train,5,213_6_person1_5,Sadness
4,8,213,"From reading the article, it looks like the wo...",6.000000,1.000000,30,1.0,6.0,3.0,37.0,...,6.0,4.857,2.0000,3.429,5.000,1,train,7,213_8_person1_7,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,495,218,I feel that this will become a national proble...,6.571429,6.714286,30,1.0,6.0,3.0,37.0,...,6.0,4.857,2.0000,3.429,5.000,2,train,994,218_495_person2_494,Neutral
788,496,103,The whole situation is sketchy. The wavering r...,3.571429,6.428571,16,2.0,5.0,1.0,28.0,...,3.5,5.000,4.1430,4.857,5.000,2,train,995,103_496_person2_495,Neutral
789,498,103,The death of a former aide to Russian Presiden...,5.428571,2.000000,43,2.0,6.0,1.0,33.0,...,7.0,4.286,1.2860,3.857,4.000,2,train,997,103_498_person2_497,Neutral
790,499,103,Everything about Russia really freaks me out. ...,6.000000,6.000000,53,2.0,3.0,1.0,27.0,...,6.0,4.000,2.2860,3.571,3.714,2,train,998,103_499_person2_498,Fear
791,500,103,Whenever Russia and Putin are involved I do n...,1.428571,5.428571,30,1.0,6.0,3.0,37.0,...,6.0,4.857,2.0000,3.429,5.000,2,train,999,103_500_person2_499,Sadness

In [90]:
article_raw.head()

                                                         text
article_id
1           'Abhorrent' bottle attack on young Rangers fan...
2           'Afghan Girl' in iconic National Geographic ph...
3           'My whole family has been wiped out': Victims ...
4           'RHONY' STAR JULES WAINSTEIN Estranged Husband...
5           'Swam for their life': More survivors of Levia...

In [91]:
article_raw.loc[1,'text']

'\'Abhorrent\' bottle attack on young Rangers fan before Celtic game —  Police have described a bottle attack on an 11-year-old Rangers fan before Sunday\'s League Cup semi-final game with Celtic as "abhorrent". Kraig Mackay suffered a large cut to his head after being hit by the bottle while walking in Aitkenhead Road, Glasgow, at about 14:00 on Sunday. Pictures on social media showed Kraig with a large gash and a bandage on his head. Police have appealed for help to find the person responsible. The boy was walking with his family and a number of other Rangers fans when a bottle was thrown at the group. It struck the 11-year-old on the head and he was taken by ambulance to the Royal Hospital for Children where he was treated for a large cut and later released. \'Totally unacceptable\' Police Scotland Ch Supt Brian McInulty said: "The incident involving the assault of the 11-year-old boy whilst he was walking to the game is completely unacceptable and understandably has shocked the communities of Glasgow. "Let\'s be clear - this was an attack on a young boy who could possibly be left with a scar. This is abhorrent, and the person, or persons, responsible need to be caught." Det Insp Colin Hailstones added: "At the time, the area was obviously very busy and there are people who will know who is responsible for this crime and I would appeal to them to come forward to police with their information. "This attack is totally unacceptable and although we don\'t believe that the young boy was specifically targeted, the bottle was deliberately thrown at the crowd of supporters who were simply making their way to the match to enjoy the game." Ibrox mascot Rangers manager Mark Warburton said Kraig would join the club as the mascot at Ibrox on Wednesday night and watch the game from the directors\' box. Ch Supt McInulty added: "Whilst the majority of genuine football fans behaved well yesterday, from a crowd of 50,697, there were 18 arrests for minor public disorder including people having had too much to drink." A 27-year-old man was arrested in connection with an alleged sectarian breach of the peace and a 17-year-old man was arrested for allegedly being in possession of a pyrotechnic device. A further 16 men, aged between 17 and 68 years, were arrested for minor public order offences. The men are expected to appear at Glasgow Sheriff Court. The game was won 1-0 by Celtic.'

In [92]:
# essay_empathy_raw.columns

In [93]:
essay_level_dev

,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,split,essay_id
conversation_id,,,,,,,,,,,
1,35,How sad is it that this kind of pain and suffe...,68,2,2,1,21,20000,1,dev,0
4,35,The article is kind of tragic and hits close t...,79,1,6,3,33,64000,1,dev,3
7,213,"I think that these kinds of stories, are sad, ...",68,2,2,1,21,20000,1,dev,6
9,213,It's crazy that random accidents like this hap...,84,2,4,1,25,55000,1,dev,8
12,78,This story makes me so so sad.... As someone w...,68,2,2,1,21,20000,1,dev,11
...,...,...,...,...,...,...,...,...,...,...,...
471,297,"After reading the article, you can't help but ...",70,1,6,1,29,85000,2,dev,970
478,53,I am definiltly guilty of wasting food. I buy ...,68,2,2,1,21,20000,2,dev,977
484,292,I wish this article had given us more info. We...,68,2,2,1,21,20000,2,dev,983
494,218,This story is really horrifying to me. Knowing...,96,2,3,1,27,25000,2,dev,993
497,103,An option for this very well may be that the m...,68,2,2,1,21,20000,2,dev,996

In [94]:
essay_empathy_raw.dtypes

conversation_id                    int64
article_id                         int64
essay                             object
empathy                          float64
distress                         float64
speaker_id                         int64
gender                           float64
education                        float64
race                             float64
age                              float64
income                           float64
personality_conscientiousness    float64
personality_openess              float64
personality_extraversion         float64
personality_agreeableness        float64
personality_stability            float64
iri_perspective_taking           float64
iri_personal_distress            float64
iri_fantasy                      float64
iri_empathatic_concern           float64
speaker_number                     int64
split                             object
essay_id                           int64
idx                               object
emotion                           object
dtype: object

In [95]:
essay_level_dev.dtypes

article_id         int64
essay             object
speaker_id         int64
gender             int64
education          int64
race               int64
age                int64
income             int64
speaker_number     int64
split             object
essay_id           int64
dtype: object

In [96]:
dev_set_columns = list(essay_level_dev.columns)

In [97]:
dev_set_columns

['article_id',
 'essay',
 'speaker_id',
 'gender',
 'education',
 'race',
 'age',
 'income',
 'speaker_number',
 'split',
 'essay_id']

In [98]:
dev_set_columns.remove('split') #split column is not required as it is just "train"

In [99]:
other_columns = ['empathy', 'distress']

In [100]:
columns_to_take = dev_set_columns + other_columns

In [101]:
columns_to_take

['article_id',
 'essay',
 'speaker_id',
 'gender',
 'education',
 'race',
 'age',
 'income',
 'speaker_number',
 'essay_id',
 'empathy',
 'distress']

In [102]:
essay_article_texts = essay_empathy_raw[columns_to_take]  #retaining columns only exists in the dev set

In [103]:
essay_article_texts

,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,essay_id,empathy,distress
0,35,It breaks my heart to see people living in tho...,30,1.0,6.0,3.0,37.0,40000.0,1,1,6.714286,6.714286
1,35,I wonder why there aren't more people trying t...,19,1.0,6.0,2.0,32.0,35000.0,1,2,5.857143,6.000000
2,35,"After reading the article, you can't help but ...",17,1.0,6.0,1.0,29.0,85000.0,1,4,1.000000,1.428571
3,213,It is so sad that someone who had such an amaz...,16,2.0,5.0,1.0,28.0,50000.0,1,5,6.000000,6.857143
4,213,"From reading the article, it looks like the wo...",30,1.0,6.0,3.0,37.0,40000.0,1,7,6.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
787,218,I feel that this will become a national proble...,30,1.0,6.0,3.0,37.0,40000.0,2,994,6.571429,6.714286
788,103,The whole situation is sketchy. The wavering r...,16,2.0,5.0,1.0,28.0,50000.0,2,995,3.571429,6.428571
789,103,The death of a former aide to Russian Presiden...,43,2.0,6.0,1.0,33.0,110000.0,2,997,5.428571,2.000000
790,103,Everything about Russia really freaks me out. ...,53,2.0,3.0,1.0,27.0,25000.0,2,998,6.000000,6.000000
791,103,Whenever Russia and Putin are involved I do n...,30,1.0,6.0,3.0,37.0,40000.0,2,999,1.428571,5.428571

In [104]:
essay_article_texts['article_id'].unique().shape

(100,)

In [105]:
essay_article_texts['article_id'] = essay_article_texts['article_id'].apply(lambda x: article_raw.loc[x, 'text'])

/tmp/ipykernel_797/1085315710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  essay_article_texts['article_id'] = essay_article_texts['article_id'].apply(lambda x: article_raw.loc[x, 'text'])

In [106]:
essay_article_texts

,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,essay_id,empathy,distress
0,"A month after Hurricane Matthew, 800,000 Haiti...",It breaks my heart to see people living in tho...,30,1.0,6.0,3.0,37.0,40000.0,1,1,6.714286,6.714286
1,"A month after Hurricane Matthew, 800,000 Haiti...",I wonder why there aren't more people trying t...,19,1.0,6.0,2.0,32.0,35000.0,1,2,5.857143,6.000000
2,"A month after Hurricane Matthew, 800,000 Haiti...","After reading the article, you can't help but ...",17,1.0,6.0,1.0,29.0,85000.0,1,4,1.000000,1.428571
3,Miami Marlins star pitcher Jose Fernandez kill...,It is so sad that someone who had such an amaz...,16,2.0,5.0,1.0,28.0,50000.0,1,5,6.000000,6.857143
4,Miami Marlins star pitcher Jose Fernandez kill...,"From reading the article, it looks like the wo...",30,1.0,6.0,3.0,37.0,40000.0,1,7,6.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
787,Millions exposed to dangerous lead levels in U...,I feel that this will become a national proble...,30,1.0,6.0,3.0,37.0,40000.0,2,994,6.571429,6.714286
788,Death of former Putin aide at D.C. hotel is ru...,The whole situation is sketchy. The wavering r...,16,2.0,5.0,1.0,28.0,50000.0,2,995,3.571429,6.428571
789,Death of former Putin aide at D.C. hotel is ru...,The death of a former aide to Russian Presiden...,43,2.0,6.0,1.0,33.0,110000.0,2,997,5.428571,2.000000
790,Death of former Putin aide at D.C. hotel is ru...,Everything about Russia really freaks me out. ...,53,2.0,3.0,1.0,27.0,25000.0,2,998,6.000000,6.000000
791,Death of former Putin aide at D.C. hotel is ru...,Whenever Russia and Putin are involved I do n...,30,1.0,6.0,3.0,37.0,40000.0,2,999,1.428571,5.428571

In [108]:
essay_article_texts = essay_article_texts.rename(columns={'article_id': 'article'}) # just renaming to make more sense

In [110]:
essay_article_texts.dtypes

article            object
essay              object
speaker_id          int64
gender            float64
education         float64
race              float64
age               float64
income            float64
speaker_number      int64
essay_id            int64
empathy           float64
distress          float64
dtype: object

In [111]:
essay_article_texts.to_csv('./essay_article_texts.csv')