In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
os.chdir("/home/573/rh2942/WASSA-2023-EMP") # changing dir for evaluation file
# print(os.getcwd())

In [3]:
raw_train = pd.read_csv('./dataset/WASSA23_essay_level_with_labels_train.tsv', sep='\t', na_values='unknown', header=0) # raw csv file consists of 'unknown' values
raw_train.sample(2)

,conversation_id,article_id,essay,empathy,distress,speaker_id,gender,education,race,age,...,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,speaker_number,split,essay_id,emotion
365,465,18,This incident made me feel bad. I assume it w...,4.666667,4.500,48,1.0,6.0,1.0,41.0,...,2.0,1.0,3.286,4.429,2.714,2.571,1,train,464,Sadness
129,182,305,I just read an article about suicides in Russi...,3.833333,2.625,25,1.0,4.0,1.0,29.0,...,6.0,5.5,5.000,2.286,3.286,4.143,1,train,181,Neutral

In [4]:
train_dev = pd.read_csv("./processed_data/essay_article_id_train_dev.csv", index_col=0)
train_dev.sample(2)

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,...,emotion,personality_conscientiousness,personality_openess,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern
539,207,201,I'm so tired of all this violence. If a cop sh...,44,2.0,6.0,1.0,46.0,22000.0,2,...,Anger,6.5,5.5,2.5,5.0,5.0,3.286,2.286,4.857,4.714
890,20,336,It's so sad to read this kind of story... Poor...,68,2.0,2.0,1.0,21.0,20000.0,2,...,Sadness,5.0,3.0,5.0,4.0,3.5,2.714,3.000,3.143,3.286

In [5]:
article_raw = pd.read_csv('./dataset/articles_adobe_AMT.csv', header=0, index_col=0)
article_raw.sample(2)

                                                         text
article_id
326         The Jewish Struggle to Understand Trump's Elec...
185         Kenney aide's fight with flesh-eating bacteria...

In [6]:
raw_dev = pd.read_csv('./dataset/dev/WASSA23_essay_level_dev.tsv', sep='\t', header=0)
raw_dev.sample(2)

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,split,essay_id
159,210,201,I can't believe that this is what America has ...,90,2,6,1,35,32000,2,dev,709
153,175,400,With Much Sadness We Report Baby Isibindi Has ...,61,2,6,3,22,100000,2,dev,674

In [7]:
complete_dev = pd.read_csv('./processed_data/essay_dev_complete.csv', index_col=0, header=0)
complete_dev.sample(2)

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,...,emotion,personality_conscientiousness,personality_openess,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern
184,387,66,I've never been in a fire personally or really...,67,2,6,1,25,60000,2,...,Neutral,6.0,5.0,2.0,5.0,6.0,4.143,1.714,3.857,3.429
109,15,78,This kind of stuff makes me sad to hear... I'm...,68,2,2,1,21,20000,2,...,Sadness,5.0,3.0,5.0,4.0,3.5,2.714,3.000,3.143,3.286

In [8]:
# WS23_WS22 = pd.read_csv("./processed_data/train_dev_WS23_train_WS22.csv", index_col=0)
# WS23_WS22

In [ ]:
# raw_test = pd.read_csv('./dataset/dev/', sep='\t', header=0)
# raw_test.sample(3)

# Numerical to textual conversion

In [9]:
def num_to_text(raw_data):
    input_data = raw_data.copy() #mandatory step as dataframe is mutable
    
    input_data.dropna(inplace=True)
    print(f"Existing non-numeric columns:\n {input_data.select_dtypes(exclude=['number']).columns.tolist()}") #Just checking if any non-numeric value exist on numeric columns
    
    #converting article id to corresponding article texts
    input_data['article'] = input_data['article_id'].apply(lambda x: article_raw.loc[x, 'text'])
    
    categories = {1.: "I am male.", 2.: "I am female.", 5: "I am nonbinary."} #5 is in WSSA 2022 dataset
    input_data['gender'] = input_data['gender'].map(categories)

    categories = {
        1.: "My education level is Less than a high school diploma.",
        2.: "My education level is High School diploma.",
        3.: "My education level is echnical/Vocational School.",
        4.: "My education level is Some college but no degree.",
        5.: "My education level is Two year associate degree.",
        6.: "My education level is Four year bachelor’s degree.",
        7.: "My education level is Postgradute or professional degree."
    }
    input_data['education'] = input_data['education'].map(categories)

    categories = {
        1.: "My race is White.",
        2.: "My race is Hispanic or Latino.",
        3.: "My race is Black or African American.",
        4.: "My race is Native American or American Indian.",
        5.: "My race is Asian/Pacific Islander.",
        6.: "My race is other."
    }
    input_data['race'] = input_data['race'].map(categories)

    input_data['age'] = input_data['age'].apply(lambda x: "My age is "+str(x)+" years.")
    input_data['income'] = input_data['income'].apply(lambda x: "My income is "+str(x)+".")
    
    input_data['article_id_text'] = input_data['article_id'].apply(lambda x: "I read newspaper article "+str(x)+".")
    
    # print(input_data.isna().any())
    assert input_data.isna().any().any() == False #no NA values
    assert input_data.isnull().any().any() == False #no null values
    
    input_data['demographic'] = input_data['gender'] + ' ' + input_data['age'] + ' ' + input_data['education'] + ' ' + input_data['race'] + ' ' + input_data['income']  + ' ' + input_data['article_id_text']  
    input_data['demographic_essay'] = input_data['demographic'] + ' ' + input_data['essay']
    
    return input_data

In [10]:
def save_preprocessed(df, dataname):
    raw_data = df.copy()
    processed_df = num_to_text(raw_data)
    processed_df.to_csv("./processed_data/preprocessed_" + dataname + ".csv")

In [11]:
save_preprocessed(raw_train, dataname="train")
save_preprocessed(train_dev, dataname="train_dev")
save_preprocessed(raw_dev, dataname="dev")
save_preprocessed(complete_dev, dataname="complete_dev")
# save_preprocessed(WS23_WS22, dataname="train_dev_WS23_train_WS22")
# save_preprocessed(raw_test, dataname="test")

Existing non-numeric columns:
 ['essay', 'split', 'emotion']
Existing non-numeric columns:
 ['essay', 'split', 'emotion']
Existing non-numeric columns:
 ['essay', 'split']
Existing non-numeric columns:
 ['essay', 'split', 'emotion']

# Summarising and Paraphrasing

In [1]:
import pandas as pd
import os
import torch

In [2]:
os.chdir("/home/573/rh2942/WASSA-2023-EMP")

In [3]:
train_dev = pd.read_csv("./processed_data/preprocessed_train_dev.csv", index_col=0)

In [4]:
train_dev.columns

Index(['conversation_id', 'article_id', 'essay', 'speaker_id', 'gender',
       'education', 'race', 'age', 'income', 'speaker_number', 'split',
       'essay_id', 'empathy', 'distress', 'emotion',
       'personality_conscientiousness', 'personality_openess',
       'personality_extraversion', 'personality_agreeableness',
       'personality_stability', 'iri_perspective_taking',
       'iri_personal_distress', 'iri_fantasy', 'iri_empathatic_concern',
       'article', 'article_id_text', 'demographic', 'demographic_essay'],
      dtype='object')

In [5]:
# keeping chosen columns only
train_dev = train_dev[['essay', 'empathy', 'distress', 'emotion',
       'personality_conscientiousness', 'personality_openess',
       'personality_extraversion', 'personality_agreeableness',
       'personality_stability', 'iri_perspective_taking',
       'iri_personal_distress', 'iri_fantasy', 'iri_empathatic_concern', 'article', 'demographic', 'demographic_essay']]

In [6]:
train_dev.sample(2)

,essay,empathy,distress,emotion,personality_conscientiousness,personality_openess,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,article,demographic,demographic_essay
642,"After reading the article, i can't help but fe...",1.000000,1.625,Sadness,6.75,6.75,6.75,6.75,7.0,4.643,2.0715,4.143,4.643,"Celebrity jeweler's surrogate son, second man ...",I am male. My age is 29.0 years. My education ...,I am male. My age is 29.0 years. My education ...
768,I just read a story about an apparent murder s...,4.166667,1.250,Neutral,6.00,6.50,1.00,6.00,5.5,5.000,2.2860,3.286,4.143,"Wife Who Died Alongside Husband, Children in M...",I am male. My age is 29.0 years. My education ...,I am male. My age is 29.0 years. My education ...

## Replacing long article by its summary

In [1]:
import transformers as trf

In [81]:
checkpoint = "philschmid/flan-t5-base-samsum"
tokeniser = trf.AutoTokenizer.from_pretrained(checkpoint, model_max_length=25000) #25K because article text has maximum ~21K characters

summariser = trf.pipeline(task="summarization", model=checkpoint, tokenizer=tokeniser, device="cuda:0")

In [ ]:
for index, _ in train_dev.iterrows():
    train_dev.loc[index, "article"] = summariser(train_dev.loc[index, "article"])[0]["summary_text"] # 0-index to take the one and only first paraphrased item

## Paraphrase -- data augmentation

In [1]:
import transformers as trf

In [95]:
paraphrased = train_dev.copy()

In [96]:
paraphrased.sample(2)

,essay,empathy,distress,emotion,personality_conscientiousness,personality_openess,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,article,demographic,demographic_essay
145,I'm mostly bothered by this story because of h...,1.5,3.50,Disgust/Sadness,2.5,2.0,1.5,2.0,1.0,3.286,4.429,2.714,2.571,"The Sungai Putri, meaning River of the Princes...",I am male. My age is 41.0 years. My education ...,I am male. My age is 41.0 years. My education ...
801,So I just read an article about how a father a...,5.0,4.75,Anger,6.0,6.0,5.5,6.5,3.0,4.857,3.143,2.571,4.857,A father and son have died after falling off a...,I am male. My age is 25.0 years. My education ...,I am male. My age is 25.0 years. My education ...

In [97]:
device = torch.device("cuda") if torch.cuda.is_available() else torch.device("cpu")
tokenizer = trf.AutoTokenizer.from_pretrained("humarin/chatgpt_paraphraser_on_T5_base")
model = trf.AutoModelForSeq2SeqLM.from_pretrained("humarin/chatgpt_paraphraser_on_T5_base").to(device)

In [98]:
def paraphrase(
    question,
    num_beams=5,
    num_beam_groups=5,
    num_return_sequences=1,
    repetition_penalty=10.0,
    diversity_penalty=3.0,
    no_repeat_ngram_size=2,
    temperature=0.7
):
    max_length=len(question) #length of existing sentence is the limit
    input_ids = tokenizer(
        f'paraphrase: {question}',
        return_tensors="pt", padding="longest",
        max_length=max_length,
        truncation=True,
    ).input_ids
    
    outputs = model.generate(
        input_ids.to(device), temperature=temperature, repetition_penalty=repetition_penalty,
        num_return_sequences=num_return_sequences, no_repeat_ngram_size=no_repeat_ngram_size,
        num_beams=num_beams, num_beam_groups=num_beam_groups,
        max_length=max_length, diversity_penalty=diversity_penalty
    )

    res = tokenizer.batch_decode(outputs, skip_special_tokens=True)

    return res

In [99]:
for index, row in paraphrased.iterrows():
    paraphrased.loc[index, "demographic"] = paraphrase(paraphrased.loc[index, "demographic"])[0] # 0-index to take the one and only first paraphrased item
    paraphrased.loc[index, "essay"] = paraphrase(paraphrased.loc[index, "essay"])[0]
    paraphrased.loc[index, "article"] = paraphrase(paraphrased.loc[index, "article"])[0]

/scratch/jr19/rh2942/miniconda3/lib/python3.10/site-packages/transformers/generation_beam_search.py:198: UserWarning: Passing `max_length` to BeamSearchScorer is deprecated and has no effect. `max_length` should be passed directly to `beam_search(...)`, `beam_sample(...)`, or `group_beam_search(...)`.
  warnings.warn(

In [100]:
paraphrased["demographic_essay"] = paraphrased["demographic"] + paraphrased["essay"]

In [101]:
paraphrased

,essay,empathy,distress,emotion,personality_conscientiousness,personality_openess,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,article,demographic,demographic_essay
0,I am filled with sadness seeing people living ...,6.833333,6.625,Hope/Sadness,7.00,5.50,1.00,6.50,6.0,4.857,2.0000,3.429,5.000,The absence of food in the mountains is causin...,My profile details a black or African-American...,My profile details a black or African-American...
1,Why isn't there more effort to assist the peop...,5.833333,6.000,Anger,5.50,5.00,2.00,5.50,4.5,3.429,2.8570,2.857,2.714,The absence of food in the mountains is causin...,"I am a male with an age of 32.0 years, accompa...","I am a male with an age of 32.0 years, accompa..."
2,"After reading the article, I am filled with sa...",1.000000,1.375,Sadness,6.75,6.75,6.75,6.75,7.0,4.643,2.0715,4.143,4.643,The absence of food in the mountains is causin...,"I am a male with 290 years of age, four year b...","I am a male with 290 years of age, four year b..."
3,"Despite having an amazing story to tell, someo...",6.166667,6.625,Sadness,6.00,6.00,5.00,4.50,3.5,5.000,4.1430,4.857,5.000,"The Miami Marlins pitcher, Jose Fernández, who...","I am a female, two-year associate degree, whit...","I am a female, two-year associate degree, whit..."
4,It seems as though an all-around kind and gene...,6.833333,1.000,Neutral,7.00,5.50,1.00,6.50,6.0,4.857,2.0000,3.429,5.000,"The Miami Marlins pitcher, Jose Fernández, who...","I am a male with an age of 37.0 years, four ye...","I am a male with an age of 37.0 years, four ye..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,I'm feeling apprehensive about the individuals...,1.000000,1.875,Fear/Sadness,6.75,6.75,6.75,6.75,7.0,4.643,2.0715,4.143,4.643,The Portugal-bound train that derailed in Spai...,"My name is Male, I am 29.0 years old and I hav...","My name is Male, I am 29.0 years old and I hav..."
983,Despite my best efforts to buy food with purpo...,3.500000,3.625,Sadness,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286,The paper published in Plos One highlights the...,"As a female with XSW degrees and White skin, I...","As a female with XSW degrees and White skin, I..."
984,I wish the article had provided more informati...,4.000000,4.375,Neutral,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286,The police have arrived at the Azusa location ...,"My background is White, my age is 21.0 years, ...","My background is White, my age is 21.0 years, ..."
985,This is a truly shocking story. I find it asto...,6.000000,6.000,Fear,6.00,6.00,6.00,6.00,6.0,4.000,2.2860,3.571,3.714,A recent report has revealed that providers wh...,"I am a female, 27.0 years old, with an educati...","I am a female, 27.0 years old, with an educati..."
986,The man's inebriated state may have led him to...,4.000000,3.625,Anger,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286,"U.S. Attorney Channing D."" said on Friday that...","I am a female, 21.0 years old, with 0 educatio...","I am a female, 21.0 years old, with 0 educatio..."

In [102]:
train_dev_paraphrased = pd.concat([train_dev, paraphrased], axis=0, ignore_index=True)

In [103]:
train_dev_paraphrased.to_csv("./processed_data/train_dev_paraphrased.csv")

## Separate train to check dev performance separately

In [13]:
# train_dev_paraphrased = pd.read_csv("./processed_data/train_dev_paraphrased.csv", index_col=0, header=0)

In [104]:
train = train_dev_paraphrased.iloc[0:779,:]

In [108]:
train_paraphrased = train_dev_paraphrased.iloc[987:1766,:]

In [109]:
train_train_paraphrased = pd.concat([train, train_paraphrased], ignore_index=True, axis=0)

In [110]:
train_train_paraphrased.to_csv("./processed_data/train_train_paraphrased.csv")

In [111]:
dev_paraphrased = train_dev_paraphrased.iloc[779:987,:]
dev_paraphrased.to_csv("./processed_data/dev_summarised.csv")

## Check lengths

In [52]:
from datasets import Dataset

In [54]:
tokeniser = trf.AutoTokenizer.from_pretrained("bert-base-uncased")

#padding="longest" can be deferred to do dynamic padding
def tokenise(sentence):
    return tokeniser(sentence["demographic_essay"], truncation=True)

hugging_dataset = Dataset.from_pandas(train_dev, preserve_index=False)

tokenised_hugging_dataset = hugging_dataset.map(tokenise, batched=True)

Map:   0%|          | 0/987 [00:00<?, ? examples/s]

In [58]:
# checking length after tokenisation

length = []
for i in range(tokenised_hugging_dataset.num_rows):
  length.append(len(tokenised_hugging_dataset['input_ids'][i]))

print(f"Max length: {max(length)}")

Max lengths: 236

In [61]:
train_dev["demographic_essay"].str.len().max()

956

In [63]:
train_dev["article"].str.len().min()

284

In [10]:
train_dev["article"].str.len().max()

20047

In [8]:
train_dev["demographic_essay"].str.len().max()

956

In [14]:
train_dev_paraphrased["article"].str.len().max()

987

# Extra

## Parrot

In [ ]:
from parrot import Parrot

In [ ]:
paraphrased.loc[429,'essay']

'I am not surprised that the nations of Africa are having difficulty agreeing on conservation efforts for elephants. There is much disharmony politically between them. Africa is home to a number of endangered and threatened animals. I think the global community has to be involved in these conservation efforts.'

In [ ]:
parrot = Parrot(model_tag="prithivida/parrot_paraphraser_on_T5", use_gpu=True)

In [ ]:
parrot.augment(input_phrase=paraphrased.loc[429,'essay'], use_gpu=True, do_diverse=True, max_return_phrases=5)

[('I am not surprised that the nations of Africa are having difficulty agreeing on conservation efforts for elephants. There is much disharmony politically between them. Africa is home to a number of endangered and threatened animals. I think the global community has to be involved in these conservation efforts.',
  0)]

Current problem: the paraphrased sentence is pretty much the same as original

## Pegasus

In [ ]:
from transformers import PegasusForConditionalGeneration, PegasusTokenizer
model_name = 'tuner007/pegasus_paraphrase'
torch_device = 'cuda' if torch.cuda.is_available() else 'cpu'
tokenizer = PegasusTokenizer.from_pretrained(model_name)
model = PegasusForConditionalGeneration.from_pretrained(model_name).to(torch_device)

In [ ]:
def get_response(input_text,num_return_sequences,num_beams):
    batch = tokenizer([input_text],truncation=True,padding='longest',max_length=60, return_tensors="pt").to(torch_device)
    translated = model.generate(**batch,max_length=60,num_beams=num_beams, num_return_sequences=num_return_sequences, temperature=1.5)
    tgt_text = tokenizer.batch_decode(translated, skip_special_tokens=True)
    return tgt_text

In [ ]:
get_response(input_text = paraphrased.loc[429,'essay'], num_return_sequences=1 ,num_beams=10)

["I am not surprised that the nations of Africa don't agree on elephants."]

Current problem: only the first sentence is paraphrased

In [38]:
essay_empathy_raw = pd.read_csv('./dataset/WASSA23_essay_level_with_labels_train.tsv', sep='\t', header=0)
article_raw = pd.read_csv('./dataset/articles_adobe_AMT.csv', header=0, index_col=0)

In [39]:
essay_empathy_raw

,conversation_id,article_id,essay,empathy,distress,speaker_id,gender,education,race,age,...,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,speaker_number,split,essay_id,idx,emotion
0,2,35,It breaks my heart to see people living in tho...,6.714286,6.714286,30,1,6,3,37,...,6.0,4.857,2.0,3.429,5.0,1,train,1,35_2_person1_1,Hope/Sadness
1,3,35,I wonder why there aren't more people trying t...,5.857143,6.000000,19,1,6,2,32,...,4.5,3.429,2.857,2.857,2.714,1,train,2,35_3_person1_2,Anger
2,5,35,"After reading the article, you can't help but ...",1.000000,1.428571,17,1,6,1,29,...,7.0,4.643,2.0715,4.143,4.643,1,train,4,35_5_person1_4,Sadness
3,6,213,It is so sad that someone who had such an amaz...,6.000000,6.857143,16,2,5,1,28,...,3.5,5.0,4.143,4.857,5.0,1,train,5,213_6_person1_5,Sadness
4,8,213,"From reading the article, it looks like the wo...",6.000000,1.000000,30,1,6,3,37,...,6.0,4.857,2.0,3.429,5.0,1,train,7,213_8_person1_7,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,495,218,I feel that this will become a national proble...,6.571429,6.714286,30,1,6,3,37,...,6.0,4.857,2.0,3.429,5.0,2,train,994,218_495_person2_494,Neutral
788,496,103,The whole situation is sketchy. The wavering r...,3.571429,6.428571,16,2,5,1,28,...,3.5,5.0,4.143,4.857,5.0,2,train,995,103_496_person2_495,Neutral
789,498,103,The death of a former aide to Russian Presiden...,5.428571,2.000000,43,2,6,1,33,...,7.0,4.286,1.286,3.857,4.0,2,train,997,103_498_person2_497,Neutral
790,499,103,Everything about Russia really freaks me out. ...,6.000000,6.000000,53,2,3,1,27,...,6.0,4.0,2.286,3.571,3.714,2,train,998,103_499_person2_498,Fear
791,500,103,Whenever Russia and Putin are involved I do n...,1.428571,5.428571,30,1,6,3,37,...,6.0,4.857,2.0,3.429,5.0,2,train,999,103_500_person2_499,Sadness

In [9]:
len(essay_empathy_raw.iloc[0,2])

414

In [7]:
len(article_raw.iloc[0,0])

2396

In [5]:
# essay_empathy_raw.columns

In [10]:
essay_empathy_raw.dtypes

conversation_id                    int64
article_id                         int64
essay                             object
empathy                          float64
distress                         float64
speaker_id                         int64
gender                            object
education                         object
race                              object
age                               object
income                            object
personality_conscientiousness     object
personality_openess               object
personality_extraversion          object
personality_agreeableness         object
personality_stability             object
iri_perspective_taking            object
iri_personal_distress             object
iri_fantasy                       object
iri_empathatic_concern            object
speaker_number                     int64
split                             object
essay_id                           int64
idx                               object
emotion                           object
dtype: object

In [22]:
essay_empathy = essay_empathy_raw.copy()

In [13]:
essay_empathy['speaker_id'].unique()

array([30, 19, 17, 16, 49, 24, 43, 31, 40, 13, 37, 20, 44, 45, 33, 48, 25,
       56, 57, 23,  5, 27, 55,  2,  7, 53, 35, 32, 18, 14, 46, 51, 22, 36,
       15, 41,  3, 50, 38,  8, 26,  6, 34, 52,  9, 42,  0, 58, 10, 12, 29,
       47, 11,  1,  4, 28, 39, 21, 54])

In [ ]:
essay_empathy.drop(columns=['speaker_id','split','essay_id','idx'], inplace=True)

In [ ]:
essay_empathy.head()

,conversation_id,article_id,essay,empathy,distress,speaker_id,gender,education,race,age,...,personality_extraversion,personality_agreeableness,personality_stability,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,speaker_number,idx,emotion
0,2,35,It breaks my heart to see people living in tho...,6.714286,6.714286,30,1,6,3,37,...,1.0,6.5,6.0,4.857,2.0,3.429,5.0,1,35_2_person1_1,Hope/Sadness
1,3,35,I wonder why there aren't more people trying t...,5.857143,6.000000,19,1,6,2,32,...,2.0,5.5,4.5,3.429,2.857,2.857,2.714,1,35_3_person1_2,Anger
2,5,35,"After reading the article, you can't help but ...",1.000000,1.428571,17,1,6,1,29,...,6.75,6.75,7.0,4.643,2.0715,4.143,4.643,1,35_5_person1_4,Sadness
3,6,213,It is so sad that someone who had such an amaz...,6.000000,6.857143,16,2,5,1,28,...,5.0,4.5,3.5,5.0,4.143,4.857,5.0,1,213_6_person1_5,Sadness
4,8,213,"From reading the article, it looks like the wo...",6.000000,1.000000,30,1,6,3,37,...,1.0,6.5,6.0,4.857,2.0,3.429,5.0,1,213_8_person1_7,Neutral

In [41]:
all_columns = list(essay_empathy.columns)
# all_columns

In [42]:
string_columns = ['essay', 'emotion']
numeric_columns = [item for item in all_columns if item not in string_columns] # all other columns
# numeric_columns

In [43]:
essay_empathy = (essay_empathy.drop(columns=numeric_columns).join(essay_empathy[numeric_columns].apply(pd.to_numeric, errors='coerce'))) #converting non-numeric to null
essay_empathy.dropna(axis=0, inplace=True) #removing the rows having NA values
# essay_empathy

In [44]:
essay_empathy.isnull().any(axis=0)

essay                            False
emotion                          False
idx                              False
conversation_id                  False
article_id                       False
empathy                          False
distress                         False
speaker_id                       False
gender                           False
education                        False
race                             False
age                              False
income                           False
personality_conscientiousness    False
personality_openess              False
personality_extraversion         False
personality_agreeableness        False
personality_stability            False
iri_perspective_taking           False
iri_personal_distress            False
iri_fantasy                      False
iri_empathatic_concern           False
speaker_number                   False
dtype: bool

In [45]:
essay_empathy

Empty DataFrame
Columns: [essay, emotion, idx, conversation_id, article_id, empathy, distress, speaker_id, gender, education, race, age, income, personality_conscientiousness, personality_openess, personality_extraversion, personality_agreeableness, personality_stability, iri_perspective_taking, iri_personal_distress, iri_fantasy, iri_empathatic_concern, speaker_number]
Index: []

[0 rows x 23 columns]

In [14]:
# essay_empathy['emotion'].nunique()

In [15]:
essay_empathy['emotion'] = pd.Categorical(essay_empathy['emotion']).codes   #convert emotion texts to numbers
# essay_empathy.head()

In [16]:
essay_empathy.dtypes

essay                             object
emotion                             int8
conversation_id                    int64
article_id                         int64
empathy                          float64
distress                         float64
gender                           float64
education                        float64
race                             float64
age                              float64
income                           float64
personality_conscientiousness    float64
personality_openess              float64
personality_extraversion         float64
personality_agreeableness        float64
personality_stability            float64
iri_perspective_taking           float64
iri_personal_distress            float64
iri_fantasy                      float64
iri_empathatic_concern           float64
speaker_number                     int64
dtype: object

In [17]:
essay_empathy['essay'] = essay_empathy['essay'].apply(lambda x: x.replace('\n', ' '))   #converting newlines (if any) to space

In [18]:
essay_empathy.to_csv("./essay_texts_all_preprocessed.csv")

## FastText embeddings

In [17]:
# essay_empathy.head()

In [18]:
import fasttext
import fasttext.util
fasttext.util.download_model('en', if_exists='ignore')
ft = fasttext.load_model('cc.en.300.bin')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [19]:
essay_fasttext = pd.DataFrame(essay_empathy['essay'].apply(lambda x: ft.get_sentence_vector(x)))
# essay_fasttext

In [20]:
# expanding embedding list to columns
essay_fasttext = pd.concat([essay_fasttext.drop(columns='essay'), pd.DataFrame(essay_fasttext['essay'].tolist(), index=essay_fasttext.index).add_prefix('fasttext_')],axis=1)

In [21]:
# essay_fasttext

In [22]:
essay_empathy.drop(columns='essay', inplace=True) # no longer required

In [23]:
# essay_empathy

In [24]:
empathy_fasttext = pd.concat([essay_empathy, essay_fasttext], axis=1)

In [25]:
empathy_fasttext

,emotion,conversation_id,article_id,empathy,distress,gender,education,race,age,income,...,fasttext_290,fasttext_291,fasttext_292,fasttext_293,fasttext_294,fasttext_295,fasttext_296,fasttext_297,fasttext_298,fasttext_299
0,20,2,35,6.714286,6.714286,1.0,6.0,3.0,37.0,40000.0,...,0.031908,0.008618,-0.084222,0.009917,-0.015905,0.013034,0.009217,0.101176,-0.013040,0.002871
1,0,3,35,5.857143,6.000000,1.0,6.0,2.0,32.0,35000.0,...,0.036240,0.009713,-0.074727,-0.008554,-0.012608,0.013154,0.003391,0.072847,-0.003598,-0.001064
2,27,5,35,1.000000,1.428571,1.0,6.0,1.0,29.0,85000.0,...,0.029181,0.004013,-0.071510,-0.003602,-0.014522,0.005235,-0.002368,0.090139,-0.004795,0.012187
3,27,6,213,6.000000,6.857143,2.0,5.0,1.0,28.0,50000.0,...,0.033555,0.014324,-0.072501,0.023933,-0.021073,0.010637,-0.005696,0.088332,-0.022485,0.023060
4,24,8,213,6.000000,1.000000,1.0,6.0,3.0,37.0,40000.0,...,0.028484,-0.005003,-0.073540,0.002448,-0.019296,0.008079,0.011888,0.088122,-0.007650,-0.003173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,24,495,218,6.571429,6.714286,1.0,6.0,3.0,37.0,40000.0,...,0.016001,-0.012279,-0.068207,0.004699,-0.006312,-0.000172,0.004574,0.092242,-0.002821,0.023676
788,24,496,103,3.571429,6.428571,2.0,5.0,1.0,28.0,50000.0,...,0.044965,0.000671,-0.071815,0.007341,-0.009898,0.017540,0.007518,0.066064,-0.006650,0.003420
789,24,498,103,5.428571,2.000000,2.0,6.0,1.0,33.0,110000.0,...,0.016542,0.000684,-0.024153,0.012848,-0.005384,-0.005280,-0.023967,0.063515,0.011698,-0.004720
790,14,499,103,6.000000,6.000000,2.0,3.0,1.0,27.0,25000.0,...,0.038192,-0.000660,-0.081046,-0.002569,-0.011361,0.006441,0.008258,0.089426,-0.011913,0.003074
791,27,500,103,1.428571,5.428571,1.0,6.0,3.0,37.0,40000.0,...,0.025557,-0.012720,-0.076780,0.003712,-0.005916,0.011752,0.003682,0.068625,-0.005581,0.012416

In [26]:
empathy_fasttext.to_csv('./empathy_fasttext.csv')